<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <% unless @projects.empty? %>
        <h3 class="text-center">All projects</h3>
        <table class="table table-striped table-hover">
          <tbody>
            <tr>
              <th>title</th>
              <th>creator</th> 
            </tr>
            <% @projects.each do |project| %>
              <tr>
                <td>
                  <%= link_to project.title, project %>
                </td>
                <td>
                  <%= link_to project.user.name, project.user %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <h3 class="text-center">No projects!</h3>
      <% end %>
    </div>
  </div>
</div>
