// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comments-controls-list {
  list-style: none;
  padding-left: 0px;
}

.comments-controls-table-row {
  padding: 0.3em 0.3em 0em 0em !important;
  width: 1em;
}
