// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-users-list {
  max-width: 30em;
  height: 10em;
  overflow-y: auto;
}

.status-waiting {
  color: red;
}

.status-implementation {
  color: #CA6F1E;
}

.status-verifying {
  color: #8E44AD;
}  

.status-releasing {
  color: green;
}
